.dagger:
  image: mikebrown008/ci-cli-base:0.5
  variables:
    MINIO: minio.dev.wekeo.apps.eo4eu.eu
    BUCKET: registry
    GITLAB: git.apps.eo4eu.eu
    REPO_NAMESPACE: eo4eu/eo4eu-cicd/eo4eu-inference-server
    HELM_NAMESPACE: eo4eu/eo4eu-cicd/cicd-infra
    REGISTRY: registry.apps.eo4eu.eu
    REPO: shared
    SERVICE: inference-server
    HELM: helm-repo
    REPO_BRANCH: main
    HELM_BRANCH: main
  before_script:
    - "apk --no-cache add jq"
    - "export VAULT_TOKEN=$(curl -s -X PUT \
      -d '{\"role_id\":\"'$VAULT_ROLE_ID'\",\"secret_id\":\"'$VAULT_SECRET_ID'\"}' \
      \"$VAULT_SERVER_URL/v1/auth/approle/login\" | \
      jq -r '.auth.client_token')"
    - "export BEARER=\"X-Vault-Token: $VAULT_TOKEN\""
    - "export CI_REPO_USERNAME=$(curl -s -H \"$BEARER\" \
      \"$VAULT_SERVER_URL/v1/kv/data/gitlab_credentials/$SERVICE/$REPO\" | \
      jq -r '.data.data.username')"
    - "export CI_REPO_PASSWORD=$(curl -s -H \"$BEARER\" \
      \"$VAULT_SERVER_URL/v1/kv/data/gitlab_credentials/$SERVICE/$REPO\" | \
      jq -r '.data.data.password')"
    - "export CI_COOKIECUTTER_USERNAME=$(curl -s -H \"$BEARER\" \
      \"$VAULT_SERVER_URL/v1/kv/data/gitlab_credentials/cookiecutter-repo\" | \
      jq -r '.data.data.username')"
    - "export CI_COOKIECUTTER_PASSWORD=$(curl -s -H \"$BEARER\" \
      \"$VAULT_SERVER_URL/v1/kv/data/gitlab_credentials/cookiecutter-repo\" | \
      jq -r '.data.data.password')"
    - "export CI_HELM_USERNAME=$(curl -s -H \"$BEARER\" \
      \"$VAULT_SERVER_URL/v1/kv/data/gitlab_credentials/$HELM\" | \
      jq -r '.data.data.username')"
    - "export CI_HELM_PASSWORD=$(curl -s -H \"$BEARER\" \
      \"$VAULT_SERVER_URL/v1/kv/data/gitlab_credentials/$HELM\" | \
      jq -r '.data.data.password')"
    - "export S3_ACCESS_KEY=$(curl -s -H \"$BEARER\" \
      \"$VAULT_SERVER_URL/v1/kv/data/flux_dev_minio\" | \
      jq -r '.data.data.s3_access_key')"
    - "export S3_SECRET_KEY=$(curl -s -H \"$BEARER\" \
      \"$VAULT_SERVER_URL/v1/kv/data/flux_dev_minio\" | \
      jq -r '.data.data.s3_secret_key')"
    - "git clone -b $REPO_BRANCH \
      https://$CI_REPO_USERNAME:$CI_REPO_PASSWORD@$GITLAB/$REPO_NAMESPACE/$REPO.git"
    - "git clone -b $HELM_BRANCH \
      https://$CI_HELM_USERNAME:$CI_HELM_PASSWORD@$GITLAB/$HELM_NAMESPACE/$HELM.git"
    - "export TAG=$(git -C $REPO rev-parse HEAD)"
update_helm:
  extends: [.dagger]
  tags: [dagger]
  stage: build
  artifacts:
    untracked: true
  script:
    - cd $REPO
    - dagger call update
      --gitlab $GITLAB
      --repo $REPO
      --branch $SERVICE-uc
      --username $CI_COOKIECUTTER_USERNAME
      --password env:CI_COOKIECUTTER_PASSWORD
      --wkd .
      export
      --path
      /builds/$REPO_NAMESPACE/$REPO/$SERVICE-helm
sync_helm:
  extends: [.dagger]
  tags: [dagger]
  stage: build
  needs: [update_helm]
  dependencies: [update_helm]
  artifacts:
    untracked: true
  script:
    - rm -rf $HELM/$SERVICE-$REPO
    - cp -r /builds/$REPO_NAMESPACE/$REPO/$SERVICE-helm $HELM/$SERVICE-$REPO
    - cd $HELM
    - git config user.email "federico.fornari@ecmwf.int"
    - git config user.name "Cookiecutter"
    - git add --all
    - git commit -m "Updated helm chart by Cookiecutter" || true
    - git push